@use "../../config/vars";

@mixin reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: default;
}

.appBarMenu {
  @include reset;
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    padding: 0 10px;
    align-items: center;
    cursor: pointer;
  }

  >li:first-child {
    cursor: default;
  }

  .appBarSubMenu {
    @include reset;
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      padding: 10px 10px 10px 18px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      cursor: pointer;

      .dragHandler {
        height: 18px;
        left: -3px;
        opacity: 0.54;
        position: absolute;
        top: 11px;
        width: 24px;
        visibility: hidden;

        circle {
          fill: vars.$blackColor
        }
      }

      .projectActions {
        display: flex;
        flex-direction: row;
        margin-right: 6px;
      }
    }

    li:hover {
      background-color: rgb(242, 242, 242);

      .dragHandler {
        visibility: visible;
      }
    }

    li.selectedProject {
      background-color: rgb(232, 232, 232);
      font-weight: 500;
    }
  }
}