.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000b5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.modalContainer {
  background-color: white;
  width: 300px;
  padding: 10px;
  position: relative;
}

.modalButtonClose {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modalHeader {}

.modalTitle {}

.modalBody {}

.modalFooter {}

.modalButton {}