.projectGrid {
  display: grid;
  grid-gap: 6px;
  height: 100%;
  grid-template-rows: 32px auto;
  overflow: auto;
}

.projectConditions {
  display: grid;
  grid-gap: 6px;
}

.projectTasks {
  display: grid;
  grid-gap: 6px;
}