.task {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 6px;
}

.taskTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskDesc {}