@use "../../../config/vars";
@use "../../../config/mixins" as fonts;

.task {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  .dragHandler {
    height: 18px;
    left: 4px;
    opacity: 0.54;
    position: absolute;
    width: 12px;
    visibility: hidden;

    circle {
      fill: vars.$blackColor
    }
  }

  &:hover {
    .dragHandler {
      visibility: visible;
    }
  }
}

.taskHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px
}

.taskTitle {
  @include fonts.fsb;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
  user-select: none;
}

.taskDesc {
  @include fonts.fs;
  padding: 0 4px 4px 4px;
  max-height: 69px;
  word-break: break-word;
  overflow: hidden;
  user-select: none;
}