$appBarWidth: 200px;
$headerHeight: 62px;
$whiteBackground: rgb(255, 255, 255);
$grayBackground: rgb(201, 201, 201);
$darkBorders: rgb(63, 63, 63);

@mixin pageStyles {
  min-height: 100%;
  padding: 10px;
  background-color: $grayBackground;
}

.pageContainer {
  display: grid;
  grid-template-areas: "header header" "leftbar body";
  grid-template-rows: 60px calc(100vh - $headerHeight);
  grid-template-columns: $appBarWidth auto;
  background-color: $darkBorders;
  grid-gap: 2px;

  .header {
    grid-area: header;
    @include pageStyles;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .leftBar {
    grid-area: leftbar;
    @include pageStyles;
  }

  .body {
    grid-area: body;
    @include pageStyles;
    max-width: calc(100vw - $appBarWidth);
    overflow: auto;
  }
}