@use "./vars";

@mixin fs {
  font-size: vars.$fS;
}

@mixin fm {
  font-size: vars.$fM;
}

@mixin fl {
  font-size: vars.$fL;
}

@mixin fsb {
  @include fs;
  font-weight: vars.$fwB;
}

@mixin fmb {
  @include fm;
  font-weight: vars.$fwB;
}

@mixin flb {
  @include fl;
  font-weight: vars.$fwB;
}