$red: #FF968A;
$blue: #ABDEE7;
$green: #97C1A9;
$rose: #F3B0C2;
$violet: #D7C4D6;
$lightGreen: #CDE2CB;
$errorColor: $red;
$successColor: $green;
$blackColor: #36454F;
$gray: #A9A9A9;
$white: #E5E4E2;

$color-1: #ff9e89;
$color-2: #ffd989;
$color-3: #eaff89;
$color-4: #afff89;
$color-5: #89ff9e;
$color-6: #89ffd9;

$fS: 14px;
$fM: 16px;
$fL: 18px;
$fwR: 400;
$fwB: 600;