@mixin reset {
  margin: 0;
  padding: 0;
}

.headerNav {
  @include reset;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  height: 100%;

  li {
    display: flex;
    padding: 0 10px;
    height: 100%;
    align-items: center;
    cursor: pointer;
  }
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    padding-right: 10px;
  }

  img {
    max-height: 30px;
  }
}