.condition {
  background-color: white;
}

.conditionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  padding: 6px 6px 6px 20px;
  position: relative;

  .conditionTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
  }

  .dragHandler {
    height: 18px;
    left: 4px;
    opacity: 0.54;
    position: absolute;
    width: 12px;
    visibility: hidden;

    circle {
      fill: black
    }
  }

  &:hover {
    .dragHandler {
      visibility: visible;
    }
  }


}

.conditionBody {
  padding: 6px;
}