@import-normalize;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  background-color: transparent;
  margin: 0;
}

input {
  all: unset;
}

button {
  font-size: 16px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
}

$transitionTime: 300ms;